.hero-img {
  display: block;
  margin-bottom: 30px;
}

.js-input {
  margin-bottom: 5px;
}

.color-picker-option {
  display: inline-block;
  width: 74px;
  height: 74px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #2a2a2a;
}

.gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
