/* .hero-img {
  display: block;
  margin-bottom: 30px;
}

.js-input {
  margin-bottom: 5px;
}

.color-picker-option {
  display: inline-block;
  width: 74px;
  height: 74px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #2a2a2a;
}

.gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.change-color {
  margin-bottom: 10px;
} */

/************** Lesson 2 ****************/

/* .js-click {
  margin-bottom: 10px;
}

.js-box {
  width: 50px;
  height: 50px;
  background-color: red;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
/* 
.box {
  background-color: blue;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-box {
  background-color: yellow;
  width: 70px;
  height: 70px;
} */

/* .js-form {
}
.car-search {
  display: flex;
  gap: 10px;
  border: 1px solid blanchedalmond;
  padding: 15px;
  max-width: 350px;
}
.car-group {
}
.car-input {
  padding: 5px 10px;
}
.car-select {
  padding: 5px 10px;
}
.car-button {
  background-color: #42aaff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.car-image {
  width: 360px;
} */

/* #parent,
#child,
#descendant {
  margin: 16px;
  padding: 16px;
  border: 4px solid #212121;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

#parent {
  background-color: #673ab7;
}

#child {
  background-color: #448aff;
}

#descendant {
  background-color: #ff9800;
} */

/* body {
  margin: 8px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  border: 1px solid black;
} */
/* 
body {
  margin: 8px;
  font-family: sans-serif;
}

.output {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  gap: 4px;
}

.color-palette .item {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.color-palette .item:hover {
  transform: scale(1.1);
} */
